.react-chatbot-kit-chat-bot-avatar-container {
  width: 50px;
  height: 50px;
  border-radius:30%;
  font-size: 2rem;
  margin-right: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.react-chatbot-kit-chat-bot-avatar-icon {
  fill: #494646;
  width: 22.5px;
  height: 22.5px;
}
/*
.react-chatbot-kit-chat-bot-avatar-letter {
  color: #1d1d1d;
  margin: 0;
  padding: 0;
}
*/
