/* react-chatbot-kit/src/components/Chat/Chat.css */
@import url('https://hangeul.pstatic.net/hangeul_static/css/NanumHaNaSonGeurSsi.css');

.react-chatbot-kit-chat-container {
  position: relative;
  font-family: 'NanumHaNaSonGeurSsi', Arial, sans-serif;
  font-size: 40px;
  color:white;
}

.react-chatbot-kit-chat-inner-container {
height: auto;
  width: auto;
  background-color: #ffffff;
  border-radius: 3px;
  border-radius: 5px;
}


.react-chatbot-kit-chat-input-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow-y: scroll;   /* 채팅창 세로 스크롤 보여줌 */
  height: 800px;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  border: none;
  font-size: 1rem;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;;
  border-bottom-left-radius: 5px;
}

.react-chatbot-kit-chat-input-form {
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-input::placeholder {
  color: #585858;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #ff7f00;
  width: 100px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #fff;
  width: 15px;
  margin: 0 auto;
}


/* react-chatbot-kit/src/components/ChatbotMessage/ChatbotMessage.css */
.react-chatbot-kit-chat-bot-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-start;
}


.react-chatbot-kit-chat-bot-message {   /* 봇이 보내는 메시지창 */
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #181515;
  font-weight: medium;
  position: relative;
  width: auto;
  max-width: 600px;
  margin-left: 5px;   /* bot 아이콘과 떨어지고 메시지를 왼쪽에 띄움 */
  text-align: left;
}

.react-chatbot-kit-chat-bot-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #2898ec;
  position: absolute;
  left: -7px;
  top: 13px;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
  height: 17px;
  width: 25px;
}

.chatbot-loader-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#chatbot-loader #chatbot-loader-dot1 {
  animation: load 1s infinite;
}

#chatbot-loader #chatbot-loader-dot2 {
  animation: load 1s infinite;
  animation-delay: 0.2s;
}

#chatbot-loader #chatbot-loader-dot3 {
  animation: load 1s infinite;
  animation-delay: 0.4s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* react-chatbot-kit/src/components/ChatbotError/ChatbotError.css */
.react-chatbot-kit-error {
  background-color: #fff;
  border-radius: 3px;
  padding: 15px;
}

.react-chatbot-kit-error-container {
  width: 260px;
}

.react-chatbot-kit-error-header {
  font-size: 1.3rem;
  color: #1d1d1d;
  margin-bottom: 30px;
}

.react-chatbot-kit-error-docs {
  display: block;
  margin: 25px auto;
  color: rgb(56, 104, 139);
  padding: 8px;
  border: 1px solid rgb(40, 152, 236);
  width: 130px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}


/* react-chatbot-kit/src/components/UserChatMessage/UserChatMessage.css */
.react-chatbot-kit-user-chat-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-end;
}



.react-chatbot-kit-user-chat-message {
  background-color: #f1f1f1;
  width: auto;
  max-width: 600px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.4rem;
  color: #585858;
  font-weight: medium;
  position: relative;
  text-align: left;
  margin-right: 5px;
}

.react-chatbot-kit-user-chat-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #f1f1f1;
  position: absolute;
  right: -7px;
  top: 13px;
}

.react-chatbot-kit-user-avatar-container {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  font-size: 1.4rem;
  margin-left: 10px;
  background-color: #ff7f00;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.react-chatbot-kit-user-avatar-icon {
  fill: #fff;
  width: 22.5px;
  height: 22.5px;
}